.idea/
target/
out/
build/
logs/
*.iml
*.xml
*.jar
!build.xml
!pom.xml
*.properties
!application.properties
.gradle/
!gradle-wrapper.properties
!gradle-wrapper.jar
!logback-spring.xml
resources/static/gulpfile.jsUU
resources/static/index2.html
resources/static/node_modules/
resources/static/dist/